<% if( typeof(students) !='undefined' &&students !=null ) { %>
    
    <div class="row">
        <div class="col-lg-12">
            <table width="100%" class="table" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>ContactNo</th>
                        <th>Email</th>
                        <th>Thana</th>                     
                    </tr>
                </thead>
                <tbody>
                <% for(var i =0; i<students.length; i++ ) { %>
                        <tr class="odd gradeX">
                            <td><div class="panel-body"><%=students[i].username %></div></td>
                            <td><div class="panel-body"><%=students[i].name %></div></td>
                            <td><div class="panel-body"><%=students[i].contactNo %></div></td>
                            <td><div class="panel-body"><%=students[i].email %></div></td>
                            <td><div class="panel-body"><%=students[i].location.thana %></div></td>
                            <td>
                            <a href="/admin/students/details/<%=students[i]._id%>" class="btn btn-primary">Details</a>
                            <a href="/admin/students/edit/<%=students[i]._id%>" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                        
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
<% } %>

