<% if( typeof(jobs) !='undefined' && jobs !=null ) { %>
    
    <div class="row">
        <div class="col-lg-12">
            <table width="100%" class="table" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Medium</th>
                        <th>Level</th>
                        <th>Zone</th>
                        <th>Creator</th>
                        <th>Options</th>                        
                    </tr>
                </thead>
                <tbody>
                <% for(var i =0; i< jobs.length; i++ ) { %>
                        <tr class="odd gradeX">
                            <td><div class="panel-body"><%= jobs[i].institution %></div></td>
                            <td><div class="panel-body"><%= jobs[i].info.medium %></div></td>
                            <td><div class="panel-body"><%= jobs[i].info.level %></div></td>
                            <td><div class="panel-body"><%= jobs[i].zone %></div></td>
                            <td><div class="panel-body"><%= jobs[i].creator.username %></div></td>
                            <td><a href="/admin/tuitions/details/<%=jobs[i]._id%>" class="btn btn-primary">Details</a>
                            <a href="/admin/tuitions/edit/<%=jobs[i]._id%>" class="btn btn-info">Edit</a></td>
                        </tr>
                        
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
<% } %>

